/* style landing page */


.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the page-container height to fill the entire viewport */
}
.usernameBox{
    margin-top: 25%;
    margin-left: 2.5%;
    font-size: 16px;
    padding-top: 2.5%;


}
.usernameBox::placeholder{
    font-size: 16px;
}
.passwordBox{
    margin-top: 2.5%;
    margin-left: 2.5%;
    font-size: 16px;
    padding-top: 2.5%;
}
.passwordBox{
    font-size: 16px;
}

.empty-box {
    width: 50%;
    max-width: 350px; /* Adjust the maximum width as needed */
    min-width: 350px;
    height: 400px; /* Adjust the height as needed */
    margin: 0 auto; /* Center the box horizontally */
    background-color: #f2f2f2; /* Replace with your preferred background color */
    border: 2px solid #333; /* Border properties: 2px width, solid style, and color #333 (dark gray) */
    border-radius: 10px; /* Rounded corners: Adjust the value as needed for a different level of rounding */
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .boxLogo{
    font-size: 25px;
    margin: 0 auto;
    margin-top: -35%;
  }
  .loginButton{
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 32%;
    cursor: pointer;
    background-color: rgba(106,149,247,0.8);
    font-weight: bolder;
  }
  .signup{
    margin-top: 15%;
  }
  .line{
    border-top: 1px solid black;
    margin: 50px 0;
  }
