<!-- landing.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Landing Page</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/landing.css}">
</head>
<body>
<!-- Start of form -->
<form method="post" action="/" th:object="${loginRequest}" class="login-form">
        <div class="page-container">
            <div class="empty-box">
                <input class="usernameBox" name="username" type="text" placeholder="username">
                <input class="passwordBox" name="password" type="password" placeholder="password">
                <p class="boxLogo">𝓢𝓱𝓸𝓒𝓲𝓪𝓵</p>
                <button class="loginButton" type="submit">Log in</button>
                <div class="line">
                <p class="signup">Don't have an account? <a href="/signup">Sign Up Here</a></p>
                </div>
            </div>
        </div>
</form>
<!-- End of form -->
</body>
</html>
