<!-- landing.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Landing Page</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/landing.css}">
</head>
<body>
        <div class="page-container">
            <div class="empty-box">
                <input class="usernameBox" type="text" placeholder="username">
                <input class="passwordBox" type="text" placeholder="password">
                <p class="boxLogo">𝓢𝓱𝓸𝓒𝓲𝓪𝓵</p>
                <button class="loginButton" type="submit">Log in</button>
                <div class="line">
                <p class="signup">Don't have an account? <a href="http://localhost:8080/sign">Sign Up Here</a></p>
                </div>
            </div>
        </div>
</body>
</html>
