<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sign.css}">
</head>
<body>
    <div class="page-container">
        <div class="empty-box">
            <input class="usernameBox" type="text" placeholder="username">
            <input class="passwordBox" type="text" placeholder="password">
            <input class="verify-passwordBox" type="text" placeholder="verify password">
            <input class="email" type="text" placeholder="Enter E-mail">
            <p class="boxLogo">Sign Up</p>
            <button class="signupButton" type="submit">Sign Up</button>

        </div>

    </div>


</body>
</html>